In [8]:
from cassandra.cluster import Cluster

import pandas as pd

In [2]:
object = Cluster()
session = object.connect()

In [3]:
session.execute("CREATE KEYSPACE IF NOT EXISTS m14 WITH REPLICATION = {'class':'SimpleStrategy','replication_factor':'1'}")

In [6]:
session.execute(f"""CREATE TABLE IF NOT EXISTS m14.storage(
SKU TEXT,
NAME TEXT,
DESCRIPTION TEXT,
WAREHOUSE_NUMBER INT,
PRIMARY KEY(SKU))
""")

In [9]:
df = pd.read_csv("table.csv")

In [10]:
df.head()

,SKU,NAME,DESCRIPTION,WAREHOUSE_NUMBER
0,'AB12','Blue T-Shirt','A cotton t-shirt with a blue color and round ...,1234
1,'CD34','Black Jeans','A pair of black denim jeans with a slim fit a...,5678
2,'EF56','Red Sneakers','A pair of red canvas sneakers with white rubb...,91011
3,'GH78','Leather Belt','A brown leather belt with silver buckle and a...,1213
4,'IJ90','Green Hoodie',"'A fleece hoodie with a green color, kangaroo ...",1415

In [11]:
for index,row in df.iterrows():
    session.execute(f""" INSERT INTO m14.storage (SKU,NAME,DESCRIPTION,WAREHOUSE_NUMBER)
    VALUES({row[0]},{row[1]},{row[2]},{row[3]})
    """)

In [12]:
output = session.execute("SELECT * FROM m14.storage")
for i in output:
    print(i)

Row(sku='KL12', description='A black leather wallet with multiple card slots and bill compartment', name='Leather Wallet', warehouse_number=1617)
Row(sku='YZ56', description='A brown leather jacket with zip closure and ribbed cuffs', name='Brown Jacket', warehouse_number=1234)
Row(sku='WX34', description='A pair of black leather gloves with fleece lining', name='Black Gloves', warehouse_number=91011)
Row(sku='EF56', description='A pair of red canvas sneakers with white rubber soles', name='Red Sneakers', warehouse_number=91011)
Row(sku='UV12', description='A woolen red hat with a pom-pom on top', name='Red Hat', warehouse_number=1415)
Row(sku='MN34', description='A stainless steel watch with silver dial and black leather strap', name='Silver Watch', warehouse_number=1819)
Row(sku='QR78', description='A gray wool scarf with fringed edges and soft texture', name='Wool Scarf', warehouse_number=2223)
Row(sku='CD34', description='A pair of black denim jeans with a slim fit and straight leg cut', name='Black Jeans', warehouse_number=5678)
Row(sku='IJ90', description='A fleece hoodie with a green color, kangaroo pocket', name='Green Hoodie', warehouse_number=1415)
Row(sku='ST90', description='A pair of brown leather boots with a round toe and lace-up closure', name='Leather Boots', warehouse_number=2425)
Row(sku='GH78', description='A brown leather belt with silver buckle and adjustable size', name='Leather Belt', warehouse_number=1213)
Row(sku='OP56', description='A nylon backpack with blue color and multiple compartments', name='Blue Backpack', warehouse_number=2021)
Row(sku='AB12', description='A cotton t-shirt with a blue color and round neckline', name='Blue T-Shirt', warehouse_number=1234)

In [14]:
session.execute("CREATE INDEX sample ON m14.storage(WAREHOUSE_NUMBER)")

In [16]:
output = session.execute("SELECT * FROM m14.storage WHERE WAREHOUSE_NUMBER=1234")
for i in output:
    print(i)

Row(sku='YZ56', description='A brown leather jacket with zip closure and ribbed cuffs', name='Brown Jacket', warehouse_number=1234)
Row(sku='AB12', description='A cotton t-shirt with a blue color and round neckline', name='Blue T-Shirt', warehouse_number=1234)